{% include "common/head.html" %}
    <div class="container" style="padding-top: 90px;">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="container-fluid d-flex justify-content-center">
            <h3>Login&nbsp<small>&nbspWelcome to join us</small></h3>
          </div>
          <form novalidate action="{% url 'user:login' %}" method="post">
          {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="name@example.com">
              <div id="emailHelp" class="form-text">Please enter your email.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
              <div id="emailHelp" class="form-text">Please enter your password.</div>
            </div>
            <div class="mb-3 form-check">
                {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
              <a href="{% url 'user:register' %}" class="btn btn-link" style="padding:8px 15px;">Registration</a>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% include "common/footer.html" %}
  </body>
</html>