{% include "common/head.html" %}
    <div class="container" style="padding-top: 90px;">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="container-fluid d-flex justify-content-center">
            <h3>Registration&nbsp<small>&nbspWelcome to Forest Machining</small></h3>
          </div>
          <form novalidate action="{% url 'user:register' %}" method="post">
          {% csrf_token %}
          <div class="row mb-3">
            <label for="{{ form_obj.email.id_for_label }}" class="col-sm-3 control-label text-end">
              {{ form_obj.email.label }}
            </label>
              <div class="col-sm-6">
                {{ form_obj.email }}
                <div id="emailHelp" class="form-text justify-content-center">We'll never share your information with anyone else.</div>
                <span class="help-block">{{ form_obj.email.errors.0 }}</span>
              </div>
          </div>
          <div class="row mb-3">
            <label for="{{ form_obj.password.id_for_label }}" class="col-sm-3 control-label text-end">
              {{ form_obj.password.label }}
            </label>
              <div class="col-sm-6">
                {{ form_obj.password }}
                <span class="help-block">{{ form_obj.password.errors.0 }}</span>
              </div>
          </div>
          <div class="row mb-3">
            <label for="{{ form_obj.repassword.id_for_label }}" class="col-sm-3 control-label text-end">
              {{ form_obj.repassword.label }}
            </label>
              <div class="col-sm-6">
                {{ form_obj.repassword }}
                <span class="help-block">{{ form_obj.repassword.errors.0 }}</span>
              </div>
          </div>
          <div class="row mb-3">
            <label for="{{ form_obj.first_name.id_for_label }}" class="col-sm-3 control-label text-end">
              {{ form_obj.first_name.label }}
            </label>
              <div class="col-sm-6">
                {{ form_obj.first_name }}
                <span class="help-block">{{ form_obj.first_name.errors.0 }}</span>
              </div>
          </div>
          <div class="row mb-3">
            <label for="{{ form_obj.last_name.id_for_label }}" class="col-sm-3 control-label text-end">
              {{ form_obj.last_name.label }}
            </label>
              <div class="col-sm-6">
                {{ form_obj.last_name }}
                <span class="help-block">{{ form_obj.last_name.errors.0 }}</span>
              </div>
          </div>
          <div class="row mb-3">
            <label for="{{ form_obj.mobile.id_for_label }}" class="col-sm-3 control-label text-end">
              {{ form_obj.mobile.label }}
            </label>
              <div class="col-sm-6">
                {{ form_obj.mobile }}
                <span class="help-block">{{ form_obj.mobile.errors.0 }}</span>
              </div>
          </div>
          <div class="row mb-3">
            <label for="{{ form_obj.country.id_for_label }}" class="col-sm-3 control-label text-end">
              {{ form_obj.country.label }}
            </label>
              <div class="col-sm-6">
                {{ form_obj.country }}
                <span class="help-block">{{ form_obj.country.errors.0 }}</span>
              </div>
          </div>
          <div class="row mb-3"> 
            <div class="col-sm-10 offset-sm-2">
              <button type="submit" class="btn btn-primary">Submit</button>
              Already have an account? <a href="{% url 'user:login' %}" class="btn btn-link py-2 px-3">Login</a>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    {% include "common/footer.html" %}
  </body>
</html>